
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://kit.fontawesome.com/58ee981eed.js" crossorigin="anonymous"></script>
    <title>Inicio de Sesión</title>
    <link href="~/Content/Stilo login.css" rel="stylesheet" />
</head>
<body>
    <div class="barra-arriba">

    </div>
    <div class="barra-abajo">
        Assist.Net ©
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <section>
            <div class="contenedor">
                <div class="formulario">
                    <form action="@Url.Action("Iniciar_sesion", "Login")" method="post">
                        <div id="img-container">
                            <img class="img-circle" src="~/Content/LcaLKXQNsoTk1AxY0hGlV-transformed.png" />

                        </div>
                        <h2 class="titulo">Inicio de Sesión</h2>

                        <div class="input-contenedor">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="Email_Administrador" , dirname="Email_Aprendiz" id="usuario" required>
                            <label for="usuario">Email</label>
                        </div>

                        <div class="input-contenedor">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="Contraseña_Administrador" , dirname="Contraseña" id="contraseña" required>
                            <label for="contraseña">Contraseña</label>
                        </div>

                        <div class="boton">
                            <button type="submit">Ingresar</button>

                        </div>
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-warning mi-clase" role="alert">
                                @ViewData["Mensaje"]
                            </div>

                        }



                    </form>

                </div>
            </div>
        </section>
    </div>

</body>
</html>
