
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <script src="https://kit.fontawesome.com/58ee981eed.js" crossorigin="anonymous"></script>
    <title>Inicio de Sesión</title>
    <link href="~/Content/Stilo login.css" rel="stylesheet" />
</head>
<body>
    <header>
    </header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <section>
            <div class="contenedor">
                <div class="formulario">
                    <form action="@Url.Action("Iniciar_sesion", "Login")" method="post">

                        <h2 class="titulo">Inicio de Sesión</h2>

                        <div class="input-contenedor">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="Email_Administrador" , dirname="Email_Aprendiz" id="usuario" required>
                            <label for="usuario">Email</label>
                        </div>

                        <div class="input-contenedor">
                            <i id="icon-contraseña" class="fa-solid fa-lock"></i>
                            <input type="password" name="Contraseña_Administrador" , dirname="Contraseña" id="contraseña" required>
                            <label for="contraseña">Contraseña</label>
                        </div>


                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-warning mi-clase mensaje" role="alert">
                                @ViewData["Mensaje"]
                            </div>

                        }


                        <div class="boton">
                            <button type="submit">Ingresar</button>

                        </div>



                    </form>

                </div>

            </div>
        </section>
    </div>

    <footer>
        Assist.Net ©
    </footer>

</body>
</html>
