
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consultar Fichas</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Consultar Fichas</h4>
        </div>
        <div class="form-container">

            <div class="form-field">
                <label for="numero-ficha">Número de ficha</label>
                <input type="text" id="numero-ficha" class="numero-ficha" placeholder="Ingrese el número de ficha">

            </div>
            <button class="btn" onclick="location.href = ''">Mostrar Fichas</button>
            @*<div class="listado">
            <div class="cuadrado"></div>
        </div>*@
        </div>
        @*<div class="footer">
            <button class="button" onclick="location.href = 'MenuprincipalInstructor'">Regresar</button>
            <button class="button" onclick="location.href = 'ConsultarProgramas'">Siguiente</button>
        </div>*@
    </div>
</body>

</html>
