
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consultar Programas</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Consultar Programas de Formacion</h4>
        </div>

        <div class="form-container">
            <!-- <div class="form-field">
                <label for="qr-code">QR de Asistencia</label>
                <input type="text" id="qr-code" placeholder="Ingrese el código de asistencia">
            </div> -->
            <div class="form-field">
                <label for="nombre">Nombre de Programa</label>
                <input type="text" id="date" placeholder="Ingrese el nombre del Programa">
            </div>
            @*<div class="form-field">
                    <label for="environment">Ambiente de Formación</label>
                    <input type="text" id="environment" placeholder="Ingrese el ambiente de formación">
                </div>*@
            <button class="btn">Mostrar Programas</button>
            @*<button class="button">Generar QR</button>*@
        </div>
    </div>
</body>
</html>
