
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulario de Asistencias</title>
    <link href="~/CSS/CssFormulario.css" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        <h2 class="form-title">Formulario de Asistencias</h2>
        <form>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido">

            <label for="ficha">Ficha:</label>
            <input type="text" id="ficha" name="ficha">

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha">

            <label for="programa">Nombre del Programa:</label>
            <input type="text" id="programa" name="programa">

            <label for="competencia">Nombre de Competencia:</label>
            <input type="text" id="competencia" name="competencia">

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
