
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InasistenciasAprendiz</title>
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Lista de Inasistencias de Aprendices</h4>
        </div>

        <div class="cuadrado">
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha</th>
                    <th>Ficha</th>
                    <th>Ambiente</th>
                </tr>
                <tr>
                    <td>Juan</td>
                    <td>Pérez</td>
                    <td>2024-05-03</td>
                    <td>2693606</td>
                    <td>ADSO 1</td>
                </tr>
                <!-- Puedes añadir más filas según sea necesario -->
            </table>
        </div>
    </div>


</body>
</html>
