
@{
    ViewBag.Title= "Consultar Aprendices";
    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Aprendices</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
   
    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Listado de Aprendices</h4>
        </div>

        <div class="cuadrado">
            <table>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>

                </tr>
               
                    @foreach (var aprendiz in ViewBag.Aprendiz)
                    {
                        <tr>
                            @*<td>@aprendiz.IdAprendiz</td>*@
                            <td>@aprendiz.Nombres_Aprenidiz</td>
                            <td>@aprendiz.Apellidos_Aprendiz</td>
                            <td>@aprendiz.Email_Aprenidiz</td>
                        </tr>
                    }
                <!-- Puedes añadir más filas según sea necesario -->
            </table>
        </div>
      
    </div>

    @*<div class="volver-menu">
            <button class="salir" onclick="location.href = 'MenuprincipalInstructor'">Volver al menu</button>
        </div>*@

</body>
</html>
