
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Fichas</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Listado de Fichas</h4>
        </div>

        <div class="cuadrado">
            <table>
                <tr>
                    <th>Numero de Ficha</th>
                   
                </tr>
                <tr>
                    <td>2693606</td>
                </tr>
                <tr>
                    <td>2659354</td>
                </tr>
                <!-- Puedes añadir más filas según sea necesario -->
            </table>
        </div>
    </div>
</body>
</html>

