
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Competencias</title>

    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Listado de Competencias</h4>
        </div>

        <div class="cuadrado">
            <table>
                <tr>
                    <th>Nombre de la Comeptencia</th>
                </tr>
                <tr>
                    <td>Ingles</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>
                <tr>
                    <td>TIC</td>
                </tr>





                <!-- Puedes añadir más filas según sea necesario -->
            </table>
        </div>
    </div>
</body>
</html>
