
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Programas</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Listado de Programas</h4>
        </div>

        <div class="cuadrado">
            <table>
                <tr>
                    <th>Nombre de Programas </th>
                </tr>
                <tr>
                    <td>Analisis y Desarrollo de Software</td>
                </tr>
                <tr>
                    <td>Mecanica Industrial</td>
                </tr>
                <!-- Puedes añadir más filas según sea necesario -->
            </table>
        </div>
    </div>


    @*<div class="volver-menu">
            <button class="salir" onclick="location.href = 'MenuprincipalInstructor'">Volver al menu</button>
        </div>*@
</body>
</html>
