
@{ Layout = null;
    var nombreUsuario = Session["NombreUsuario"] as string ?? "Nombre";
    var apellidoUsuario = Session["ApellidoUsuario"] as string ?? "Apellido";
}


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Menú principal del Instructor</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header class="top">
        <h1>Sistema de Asistencias: Assist.NET</h1>
    </header>

    <div class="container">
        <div class="header">
            <h1>Instructor @nombreUsuario @apellidoUsuario</h1>
            <h2>Menu de Opciones</h2>
        </div>
        <div class="form-container">

            <div class="form-field boton-opciones">
                <button class="button" onclick="location.href = 'Reporte'">Generar reporte</button>
                <button class="button" onclick="location.href = 'VistaInasistencias'">Inasistencias</button>
                <button class="button" onclick="location.href = 'VistaAsistencias'">Asistencia</button>
                <button class="button" onclick="location.href = 'QrAsistencias'">Generar código QR para la Asistencia</button>
            </div>
        </div>

    </div>
   

    <footer class="bot">
        <div>
            <p>Assist.NET </p>
        </div>

    </footer>
  
</body>
</html>

