
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Menú principal del Instructor</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="barraTop">

    </div>

    <div class="container">
        <div class="header">
            <h1>Instructor  Jesus Marzal Barboza</h1>
            <h2>Menu de Opciones</h2>
        </div>
        <div class="form-container">

            <div class="form-field boton-opciones">
                @*<button class="button" onclick="location.href = 'VistaAsistencias'">Asistencias</button>*@
                <button class="button" onclick="location.href = 'VistaInasistencias'">Inasistencias</button>
                <button class="button" onclick="location.href = 'QrAsistencias'">Generar código QR para la Asistencia</button>
                <button class="button" onclick="location.href = 'reporte'">Generar reporte de asistencias</button>
            </div>
        </div>
        @*<div class="footer">
                <button class="button salir" onclick="location.href = 'MenuprincipalInstructor'">Regresar</button>
            </div>*@
    </div>
    <div class="barraBot">

    </div>
</body>
</html>
