
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Qr de Asistencias</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Detalles de QR</h4>
        </div>
        <div class="form-container">
            <div class="form-field">
                <label for="date">Fecha</label>
                <input type="date" id="date">
            </div>
            <div class="form-field">
                <label for="environment">Ingrese el numero de la Ficha</label>
                <input type="text" id="environment" placeholder="Ingrese el número de la Ficha">
            </div>
            <button class="button" onclick="generarQR()">Generar QR</button>
        </div>
        <div id="qr-container" class="qr-container" style="display:none;">
            <h4>Código QR Generado:</h4>
            <img id="qr-image" src="" alt="Código QR">
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            // Obtener la fecha actual
            var today = new Date();
            var day = String(today.getDate()).padStart(2, '0');
            var month = String(today.getMonth() + 1).padStart(2, '0'); // Enero es 0
            var year = today.getFullYear();

            var currentDate = year + '-' + month + '-' + day;

            // Establecer la fecha mínima y máxima del campo de fecha a la fecha actual
            var dateInput = document.getElementById('date');
            dateInput.setAttribute('min', currentDate);
            dateInput.setAttribute('max', currentDate);
            dateInput.setAttribute('value', currentDate);
        });

        function generarQR() {
            var fecha = document.getElementById('date').value;
            var ficha = document.getElementById('environment').value;

            if (fecha === '' || ficha === '') {
                alert('Por favor, ingrese todos los datos.');
                return;
            }

            $.ajax({
                url: '@Url.Action("ObtenerCodigoQR", "TuControlador")',
                type: 'GET',
                data: { fecha: fecha, ficha: ficha },
                success: function (data) {
                    $('#qr-image').attr('src', 'data:image/png;base64,' + data);
                    $('#qr-container').show();
                },
                error: function () {
                    alert('Error al generar el código QR.');
                }
            });
        }
    </script>
</body>
</html>