
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles de Reporte</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Reporte</h4>
        </div>
        <div class="form-container">
           
            <div class="form-field boton-opciones">
                <label for="mes">Por favor escriba el mes o el año en el que desea su reporte</label>
            </div>
            <div class="form-field boton-opciones">
                <label for="mes">Mes</label>
                <input type="text" id="mes" class="mes" placeholder="Ingrese el mes">
            </div>
            <div class="form-field boton-opciones">
                <label for="año">Año</label>
                <input type="text" id="año" class="año" placeholder="Ingrese el año">
            </div>
            <div class="form-field boton-opciones">
                <button class="button reporte">Generar Reporte</button>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>
