
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inasistencias</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Instructor  Jesus Marzal Barboza</h1>
            <h4>Inasistencias</h4>
        </div>
        <div class="form-container">

            <div class="form-field boton-opciones">
                <button class="button" onclick="location.href = ''">Registrar Inasistencias</button>
                <button class="button">Consultar Inasistencias</button>
            </div>
        </div>
        @*<div class="footer">
            <button class="button salir" onclick="location.href = 'MenuprincipalInstructor'">Regresar</button>
        </div>*@
    </div>
</body>
</html>
