
@{ Layout = null;
    var nombreUsuario = Session["NombreUsuario"] as string ?? "Nombre";
    var apellidoUsuario = Session["ApellidoUsuario"] as string ?? "Apellido";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inasistencias</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    
</head>
<body>
    <header>
    </header>
    <section>


        <div class="container">
            <div class="header">
                <h1>Instructor @nombreUsuario @apellidoUsuario</h1>
                <br />
                <h4>Inasistencias</h4>
            </div>
            <div class="form-container">

                <div class="form-field boton-opciones">
                    <button class="button" onclick="location.href = 'RegistroInasistencia'">Registrar Inasistencias</button>
                    <button class="button" onclick="location.href = 'ConsultarInasistencias'">Consultar Inasistencias</button>
                </div>
            </div>
            <div class="footer">
                <button class="button" onclick="location.href = 'MenuprincipalInstructor'">Volver</button>
            </div>
        </div>
    </section>
    <footer>
        Assist.NET
    </footer>
</body>
</html>



