
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Usuarios</title>
    <link href="~/CSS/CSSvistasInstructor.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Instructor Jesus Marzal Barboza</h1>
            <h4>Crear usuarios Aprendices</h4>
        </div>
        <div class="form-container">
            
            <div class="form-field nombres">
                <label for="nombres-aprendiz">Nombre(s)</label>
                <input type="text" id="nombres-aprendiz" class="nombres-aprendiz" placeholder="Ingrese el nombre(s) del aprendiz">
            </div>
            <div class="form-field apellido">
                <label for="apellido-aprendiz">Apellidos</label>
                <input type="text" id="apellido-aprendiz" class="apellido-aprendiz" placeholder="Ingrese los apellidos del aprendiz">
            </div>
            <div class="form-field boton-generar">
                <button class="button generar">Generar Contraseña</button>
            </div>
            <div class="contraseñaGenerada">
                <label>Contraseña Generada: </label>
                <label class="contraseña"></label>
            </div>
        </div>
        @*<div class="footer">
            <button class="button salir" onclick="location.href = 'MenuprincipalInstructor'">Regresar</button>
        </div>*@
    </div>
</body>

</html>
