
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consultar Inasistencias</title>
</head>
<body>
    <div class="titulo">
        <h1>Consultar Inasistencias</h1>
    </div>
    <div class="container">
        <label>Número de Ficha</label>
        <input class="numeroficha" />
        <button>Mostrar Fichas</button>
    </div>
</body>
</html>
