
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inasistencias</title>
    <link href="~/CSS/EstiloArchivo.css" rel="stylesheet" />
    <link href="~/CSS/cssQRAsistencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Inasistencias de Aprendices</h1>
            <h4>Listado de inasistencias</h4>
        </div>

        <div class="cuadrado">
            <table>
                <tr>
                    <th>Nombre </th>
                    <th>Apellido</th>
                    <th>Fecha</th>
                    <th>Ficha</th>

                </tr>
                <tr>
                </tr>

                <!-- Puedes añadir más filas según sea necesario -->
            </table>
        </div>
        </div>
        <div id="botones" class="boton-opciones">
            <div class="">
                <button class="button" onclick="redirectTo('SubirArchivo')">Seleccionar inasistencias</button>
            </div>
            <div class="">
                <button class="button" onclick="redirectTo('Consultarinasistencias')">Regresar</button>
            </div>
        </div>

        @*<footer id="Bot"> Proyecto asistencia © </footer>*@
</body>
</html>
<script>
    function redirectTo(url) {
        // Agrega una clase de transición al cuerpo del documento
        document.body.classList.add('transicion-salida');

        // Espera un momento antes de redirigir
        setTimeout(function () {
            window.location.href = url;
        }, 500); // Ajusta el tiempo según tu preferencia
    }
</script>