
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consultarasistencias</title>
    <link href="~/CSS/EstiloConsultarA.css" rel="stylesheet" />
    <link href="~/CSS/cssIndex.css" rel="stylesheet" />
</head>
<body>
    <div class="barra-arriba">
        <h1 id="titulo">Asistencias</h1>
    </div>

    <div class="barra-abajo">
        <br />
        <a class="copyright">Assist.Net ©</a>
    </div>
    <h1 id="titulo2">Listado de asistencias </h1>
    <div class="table-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asistencia in ViewBag.Asistencias)
                {
                    <tr>
                        <td>@asistencia.Nombres</td>
                        <td>@asistencia.Apellidos</td>
                        <td>@asistencia.Fecha_Asistencia</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="botones">
        <div class="volver">
            <button class="boton-transicion" onclick="redirectTo('MenuprincipalAprendiz')">Volver</button>
        </div>
    </div>


</body>
</html>
<script>
    function redirectTo(url) {
        // Agrega una clase de transición al cuerpo del documento
        document.body.classList.add('transicion-salida');

        // Espera un momento antes de redirigir
        setTimeout(function () {
            window.location.href = url;
        }, 500); // Ajusta el tiempo según tu preferencia
    }
</script>