
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu principal</title>
    <link href="~/CSS/cssIndex.css" rel="stylesheet" />
   

</head>
<body>
    <div class="barra-arriba">

    </div>
    <div class="barra-abajo">
        <br />
        <a class="copyright">Assist.Net ©</a>
    </div>
    <div class="container">
        <div class="header">
            <h1>Aprendiz: Jesus Andres Marzal Barboza</h1>
            <br />
            <h2>Menu de Opciones</h2>
        </div>
        <br />
        <div class="form-container">

            <div class="form-field boton-opciones">
                <button class="button" onclick="redirectTo('Consultarasistencias')">Consultar Asistencias</button>
                <button class="button" onclick="redirectTo('Consultarinasistencias')">Consultar Inasistencias</button>
                <button class="button" onclick="redirectTo('MostrarQR')">qr</button>
            </div>
        </div>
    </div>

    <div>
        <button class="boton_salir" onclick="redirectTo('@Url.Action("Login","Login")')">Salir</button>
    </div>
</body>

</html>
<script>
    function redirectTo(url) {
        // Agrega una clase de transición al cuerpo del documento
        document.body.classList.add('transicion-salida');

        // Espera un momento antes de redirigir
        setTimeout(function () {
            window.location.href = url;
        }, 500); // Ajusta el tiempo según tu preferencia
    }
</script>
