
/* Make the page responsive */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Add green top and bottom borders */
/*body {
    border-top: 100px  solid #3DAF04; 
    border-bottom: 100px solid #3DAF04;
    
}*/


.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

    .header h1 {
        margin: 0;
    }

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-field {
    margin: 10px;
    width: calc(50% - 20px);
}

    .form-field label {
        display: block;
        margin-bottom: 10px;
    }

    .form-field input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
    }

.button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: auto; 
    max-width: auto; 
}

    .button:hover {
        background-color: white;
        color: green; 
        border-color: green; 
      
    }

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .form-field  {
        width: 150px;
        
    }
}

@media (max-width: 200px) {
    .container {
        margin: 20px auto;
    }
}


/*Listado de aprendices*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}


.cuadrado {
    width: 300px;
    height: 200px; 
    border: 2px solid green;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto; /* Centra el cuadrado horizontalmente */
    overflow: scroll; /* Agrega barra de desplazamiento horizontal si la tabla es más ancha que el cuadrado */
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Establece el ancho relativo de las columnas */
td, th {
    width: auto;
    border-radius: 5px;
}
.top{
   padding: 3rem 2rem; 
   background-color: #3DAF04; 
}
.top h1{
    text-align: center; 
    font-size: 30px; 
    max-height: auto; 
    width: 100%; 
}
.bot {
    background-color: #3DAF04;
    text-align: center; 
    padding: 1rem;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0; 
}
footer p{
    margin: 10px; 
    font-size: 20px; 
}
/*Estilo para cuando la ventana tenga 800px de ancho*/
@media (min-height: 800px){
    .bot{
        height: 10rem; 
    }
}