/* Make the page responsive */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Add green top and bottom borders */
/*body {
    border-top: 100px  solid #3DAF04; 
    border-bottom: 100px solid #3DAF04;
    
}*/


.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

    .header h1 {
        margin: 0;
    }

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-field {
    margin: 10px;
    width: calc(50% - 20px);
}

    .form-field label {
        display: block;
        margin-bottom: 10px;
    }

    .form-field input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
    }

.button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    max-width: auto;
}

    .button:hover {
        background-color: white;
        color: green;
        border-color: green;
    }

