/* Make the page responsive */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

footer {
    background-color: #3DAF04;
    text-align: center;
    color: white;
    width: 100%;
    height: 100px;
    bottom: 0;
}

.container {
    max-width: 900px;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header { /*Barra superior*/
    background-color: #3DAF04;
    height: 100px;
    width: 100%;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-field {
    margin: 10px;
    width: calc(50% - 20px);
    position: relative;
}

    .form-field label {
        display: block;
        margin-bottom: 10px;
    }

    .form-field input {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
    }


button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
}

.button-salir {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

button:hover {
    background-color: white;
    color: green;
    border-color: green;
}

select {
    position: relative;
    width: 80%;
    height: 30px;
    border-radius: 5px;
}

.aprendiz {
    left: -25%;
    padding-bottom: 20px;
}


@media(width <= 500px) {

    select {
        width: 90%;
    }

    .container {
        margin: 20px;
    }
}
