/*Codigo css del Menu principal*/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #3DAF04;
    height: 100px;
    width: 100%;
}

footer {
    background-color: #3DAF04;
    text-align: center;
    color: white;
    width: 100%;
    height: 100px;
    bottom: 0;
}

.container {
    max-width: 950px;
    width: 100%;
    margin: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.form-field {
    margin: 10px;
    width: calc(50% - 20px);
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    margin: 5px;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    margin: 5px;
    height: 100px;
}

button:hover {
    background-color: white;
    color: green;
    border-color: green;
}

.cuadrado {
    width: 90%;
    height: 300px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto; /* Centra el cuadrado horizontalmente */
    overflow-x: auto; /* Agrega barra de desplazamiento horizontal si la tabla es más ancha que el cuadrado */
}

select {
    position: relative;
    width: 80%;
    height: 30px;
    border-radius: 5px;
}


.form-field label {
    position: relative;
    padding-top: 10px;
    display: block;
    margin-bottom: 10px;
}

.form-field input {
    position: relative;
    left: 10px;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-field {
    margin: 10px;
    width: calc(50% - 20px);
    position: relative;
    padding-right: 5%;
}

.ficha {
    margin: 10px;
    width: calc(50% - 20px);
    position: relative;
    margin-left: 50%;
    top: -60px;
}

.programa {
    margin: 10px;
    width: calc(50% - 20px);
    position: relative;
    top: -65px;
    left: 1%;
}

.competencia {
    margin: 10px;
    width: calc(50% - 20px);
    position: relative;
    top: -55px;
}

@media (width <= 500px) {
    .container {
    }

    .form-filed boton-opciones {
        display: inline-grid;
    }
}
